* {
  margin: opx;
  padding: 0px;
}
body {
  width: 1440px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
 background-color: hsl(30, 54%, 90%);
  
}

.form {
  align-items: center;
  justify-content: center;
  width: 720px;
   height: fit-content;
  padding: 30px;
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  border-radius: 20px;
}
.preparation,
h5 {
  margin: 0px;
}
h5 {
  color: hsl(332, 51%, 32%);
  font-size: 20px;
}
.preparation,
ul {
  margin-left: 15px;
  padding: 10px, 10px, 10px, 10px;
}

.preparation li strong {
  margin-left: 10px;
  color: hsl(30, 10%, 34%);
}
.preparation ul li {
  margin-top: 10px;
}
.ingredients {
  margin-top: 30px;
}
.ingredients h4 {
  margin-top: 10px;
  margin: 0px;
  font-size: 30px;
  color: hsl(14, 45%, 36%);
}

.ingredients li {
  margin-top: 10px;
}
.instructions h4 {
  margin-top: 10px;
  margin: 0px;
  font-size: 30px;
  color: hsl(14, 45%, 36%);
}
.instructions dt {
  margin-top: 10px;
  position: relative;
  counter-increment: step;
  padding-left: 30px;
}
.instructions dl {
  counter-reset: step;
}

.instructions dt::before {
  content: counter(step) ".";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  color: hsl(332, 51%, 32%);
}
.nutrition h4 {
  margin-top: 10px;
  margin: 0px;
  font-size: 30px;
  color: hsl(14, 45%, 36%);
}
td.num {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table td {
  padding: 10px;
}
.table td {
  border-bottom: 0.5px solid gray;
  padding: 18px;
}
.img {
   display: block;
    object-fit: cover;
    border-radius: 30px;
    overflow: hidden;
}
